.shopping-cart{
    width: 100%;
    .content{
        width: 1200px;
        margin: 40px auto;
        display: flex;
        gap: 40px;
        .shoes{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
        }
        .total{
            width: 400px;
            border: 1px solid black;
        }
    }
}