.toast{
    position: fixed;
    left: 100px;
    top: 120px;
    display: flex;
    flex-direction:column;
    gap: 10px;
    height: fit-content;
    .toast__item{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 15px;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.1), 0 2px 15px 0 rgba(0,0,0,.05);
        padding: 10px;
        border-radius:5px;
        cursor: default;
        position: relative;
        .icon{
            width: 25px;
        }
        .progress{
            position:absolute;
            height: 3px;
            left: 0;
            bottom: 0;
            // background:#fff;
            z-index: 2;
            animation: progressBarAnimation linear 2s;
            &.success{
                background: green;
            }
            &.warning{
                background: #FFBF00;
            }
            &.error{
                background: #CF000F;
            }
        }
    }
}



@keyframes progressBarAnimation {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}