.checkBox{
    display: flex;
    align-items: center;
    gap: 8px;
    .checkBox-label{
        font-size: 15px;
        font-weight: 400;
    }
    .check-indicator{
        position: relative;
        width: 26px;
        height: 26px;
        .check-mark{
            position: absolute;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: none;
            &.checked{
                display: block;
            }
        }
    }
    .input-field{
        // appearance: none;
        width: 26px;
        height: 26px;
        border-radius: 2px;
    }
}