.checkBox{
    width: 180px;
    height: 500px;
    overflow-y: scroll;
    padding: 10px;
   
    .checkBox__item{
        display: flex;
        align-items: start;
        gap:10px;
        padding: 5px 0;
    }
    .checkBox__indivator{
        accent-color: #fff ;
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
        border-radius: 10px;
        cursor: pointer;
        &:checked{
            accent-color: #1d2d44 ;
        }
    }
    .checkBox__label{
        cursor: pointer;
    }
}
.checkBox::-webkit-scrollbar {
    width: 6px;
}
.checkBox::-webkit-scrollbar-track {
    background: #b5b5b5;
}
.checkBox::-webkit-scrollbar-thumb {
    background: #354862;
}
.checkBox::-webkit-scrollbar-thumb:hover {
    background: #0d1321;
}