.edit-button{
    display: flex;
    gap: 5px;
    align-items: center;
    background: none;
    cursor:pointer;
    font-size: 15px;
    font-weight: 500;
    color: #292929;
    img{
        width: 15px;
    }
}
@media screen and (width <= 768px) {
    .edit-button{
        font-size: 14px;
    }
}