@import '../../../styles/variables';

.select{
    width: 100%;
    position: relative;
    .selectField{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 5px;
        font-size: max($fs-300,13px);
        color: $clr-text;
        cursor: pointer;
        &.underLineType{
            border-bottom: 1px solid $clr-primary;
        }
        &.borderType{
            border: 1px solid #b0b0b0;
            border-radius:6px;
        }
        .arrow{
            width: 30px;
            height: 30px;
            padding: 5px;
            border:none;
            background: transparent;
            cursor: pointer;
            transition: all 0.4s;
            img{
                width: 100%;
                height: 100%;
            }
            &.active{
                transform: scaleY(-1);
            }
        }
        .placeholder{
            color: #2f2f2f;
        }
    }
    .options{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        position: absolute;
        background: #fff;
        width: 100%;
        max-height: 200px;
        overflow-x: auto;
        transition: all 0.4s ease-in-out;

        &::-webkit-scrollbar {
            width: 4px;
            margin-right: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #fff;
        }
        &::-webkit-scrollbar-thumb {
            background: #b0b0b0;
            border-radius: 4px;

        }
        &::-webkit-scrollbar-thumb:hover {
            background: $clr-accent;
        }
        .options__item{
            padding: 10px;
            cursor: pointer;
            font-size: max($fs-300,13px);
            &:hover{
                background: rgba(29, 45, 68, 0.035);
            }
            &.active{
                background: $clr-accent;
                color: #fff;
            }
            &.disabled{
                cursor:not-allowed;
                background: rgba(210, 210, 210, 0.4);
                color: #747474;
            }
        }
        &.active{
            visibility: visible;
            opacity: 1;
        }
    }
}