.edit-button{
    display: flex;
    gap: 5px;
    align-items: center;
    background: none;
    cursor:pointer;
    img{
        width: 15px;
    }
}

.user-info{
    width: 100%;
    .btn-content{
        font-size: 15px;
        font-weight: 500;
        color: #292929;
    }
    .info{
        display: flex;
        flex-direction: column;
        li{
            display: flex;
            align-items: center;
            height: 55px;
            color:#2f2f2f;
            border-bottom: 1px solid rgba(#b0b0b0,0.3);
            .field-name{
                flex: 0 1 30%;
                font-weight: 500;
                color: #141414;
            }
        }
    }
    .edit-section{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .payment-methods,.delivery-addresses{
        margin-top: 30px;
        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            .add-btn{
                display: flex;
                gap: 5px;
                align-items: center;
                background: none;
                cursor:pointer;
                font-size: 14px;
                font-weight: 500;
                color: #292929;
                img{
                    width: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:1280px) {
    .user-info{
        .btn-content{
            font-size: 14px;
        }
    }
    
}
@media screen and (max-width:768px) {
    .user-info{
        .btn-content{
            font-size: 13px;
        }
        .info{
            font-size: 14px;
        }
        .payment-methods,.delivery-addresses{
            font-size: 14px;
        }
    }
    
}