@use '../../styles/mixins';
@import '../../styles/variables';

.order-info{
    .title{
        width: 100%;
        height: 350px;
        background-image: url('../../images/b2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-size: $fs-950;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
        }
    }
    .wrapper{
        @include mixins.wrapper-desktop;
        .content{
            @include mixins.content;
            .message{
                &__title{
                    font-weight: 600;
                    text-align: center;
                    font-size: $fs-800;
                    color:#2f2f2f;
                    margin-bottom:10px;
                    text-transform: uppercase;
                    font-family: $ff-accent;
                }
                &__content{
                    max-width: 600px;
                    margin:0 auto;
                    text-align: center;
                    font-weight: 500;
                    font-size: $fs-400;
                    line-height: 130%;
                }
                &__email{
                    font-weight: 500;
                    text-decoration: underline;
                    text-underline-offset:3px;
                    text-decoration-color:$clr-primary;
                }
                &__button{
                    width: 200px;
                    margin: 20px auto 0 auto;
                }
            }
            .order-details{
                // display: flex;
                // flex-wrap: wrap;
                // justify-content: center;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                grid-template-areas: 
                'cart order'
                'summary summary';
                row-gap: 10px;
                margin-top: 40px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                padding: 20px;
                border-radius: 3px;
                .column{
                    flex: 1 0 50%;
                    padding-top: 20px;
                    &:first-child{
                        grid-area: cart;
                        position: relative;
                        padding-right: 2px;
                        &::after{
                            width: 1px;
                            background: #b0b0b0;
                            height: 80%;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            content: '';
                            position: absolute;
                        }
                    }
                    &:last-child{
                        grid-area: order;
                    }
                    .details-title{
                        font-size: $fs-500;
                        font-weight: 500;
                        line-height: 140%;
                        margin-bottom: 20px;

                        text-align: center;
                    }
                    .shipping, .payment{
                        margin: 10px 0;
                        text-align: center;
                        h3{
                            font-weight: 500;
                            font-size: $fs-400;
                            margin-bottom: 5px;
                        }
                        p{
                            font-size: $fs-300;
                            line-height: 22px;
                        }
                        .card{
                            display: flex;
                            gap: 15px;
                            justify-content: center;
                            p{
                                font-size: $fs-300;
                                font-weight: 500;
                                color:#5e5e5e;
                            }
                            
                        }
                    }
                }
                .summary{
                    grid-area: summary;
                }
            }
        }
    }
    
    
}
@media screen and (width < 768px) {
    .order-info{
        .title{
            height: 240px;
            h1{
                font-size: $fs-900;
            }
        }
        .wrapper{
            @include mixins.wrapper-tablet;
            .content{
                .message .message__button{
                    width: 180px;
                }
                .order-details{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(auto,3);
                    grid-template-areas: 
                    "order"
                    "cart"
                    "summary";
                    align-items: center;
                    .column{
                        &__wrapper{
                            width: fit-content;
                            margin: 0 auto;
                        }
                        &:first-child{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (width <= 425px) {
    .order-info{
        .title{
            h1{
                font-size: $fs-850;
            }
        }
        .wrapper{
            @include mixins.wrapper-mobile
        }
    }
     
}
@media screen and (width < 375px) {
   
     
}

