@import '../../../styles/variables';
.gallery-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "nav gallery";
    column-gap: 40px;
    position: sticky;
    top: 120px;
    .nav{
        display: flex;
        flex-direction: column;
        gap: 15px;
        grid-area: nav;
        &__item{
            position: relative;
            img{
                width:60px;
                height: 60px;
            }
            &::before{
                content:'';
                position: absolute;
                width: 0;
                height: 2px;
                background: $clr-accent;
                bottom: 0;
                transition: width 0.2s ease-in-out;
            }
            &.active,&:hover{
                &::before{
                    width: 100%;
                }
            }
        }
    }
    .arrow{
        display: none;
    }
    .gallery{
        max-height: 500px;
        max-width: 500px;
        grid-area: gallery;
        overflow: hidden;
        .gallery__line{
            display: flex;
            align-items: center;
            height: 100%;
            .gallery__item{
                width: 100%;
                height: 100%;
                object-fit: contain;
                flex: 0 0 auto;
            }
        }
    }
}
@media screen and (max-width:925px) {
    .gallery-wrapper{
        grid-template-columns:1fr;
        grid-template-areas: "gallery";
        justify-items: center;
        .nav{
            display: none;
        }
        .arrow{
            display: block;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            background: none;
            .icon{
                width: 25px;
            }
            &.left{
                left: 0;
                img{
                    rotate: 180deg;
                }
            }
            &.right{
                right:0;
                
            }
        }
    }
}

@media screen and (max-width:650px) {
    .gallery-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows:1fr 30px;
        grid-template-areas: 
        "gallery"
        "nav";
        .nav{
            width: 100%;
            height: 30px;
            gap: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .nav__item{
                width: 15px;
                height: 15px;
                background: rgba($clr-accent,0.5);
                border-radius: 50%;
                img{
                    display: none;
                }
                &::before{
                    display: none;
                }
                &.active{
                    background: $clr-accent;
                }
            }
        }
        .arrow{
            display: none;
        }
    }
}