@import '../../../styles/variables';
.gallery{
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: 
        "nav slides";
    align-items:start;
    .slides{
        grid-area: slides;
        max-width: 620px;
        width: 100%;
        position: relative;
        .defaultSet{
            width: 100%;
            opacity: 0;
        }
        .slide{
            position: absolute;
            width: 100%;
            visibility: hidden;
            transition: all 0.2s;
            left: 0;
            &.active{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .gallery-navigation{
        grid-area:nav;
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .nav__item {
            position: relative;
            width: 60px;
            cursor: pointer;
            img{
                width: 100%;
            }
            &::before{
                content: '';
                width: 100%;
                height: 2px;
                background: $clr-primary;
                position: absolute;
                bottom: -5px;
                transition: all 0.2s;
                opacity: 0;
            }
            &.active, &:hover{
                &::before{
                    opacity: 1;
                }
            }
        }
        
    }
}
@media screen and (max-width:768px) {
    .gallery{
       grid-template-columns: 1fr;
       grid-template-rows:1fr 60px;
       grid-template-areas:
       "slides"
       "nav";
       .gallery-navigation{
            width: 100%;
            height: 60px;
            flex-direction:row;
       }
    }
}
@media screen and (max-width:450px) {
    .gallery{
        grid-template-rows:1fr 30px;
        .gallery-navigation{
            height: 30px;
            gap: 10px;

            .nav__item{
                width: 15px;
                height: 15px;
                background: #748cab;
                border-radius: 50%;
                img{
                    display: none;
                }
                &::before{
                    width: 100%;
                    height: 15px;
                    background: $clr-accent;
                    position: absolute;
                    top:0;
                    transition: all 0.2s;
                    opacity: 0; 
                    border-radius: 50%;
                }
               
            }
        }
    }
}