.wrapper{
    width: 100%;
    .messages{
        display: flex;
        flex-direction:column;
        gap: 5px;
        padding-left: 10px;
        margin-top: 5px;
        position: relative;
        .messages__item{
            font-size: 12px;
            color:#d43f21;
            position: absolute;
        }
    }
}