.wrapper{
    width: 100%;
    .message{
        padding-left: 10px;
        margin-top: 5px;
        height: 10px;
        position: absolute;
        color:#CF000F;
        font-size: 12px;
        font-weight: 500;
    }
}