.toast{
    width: 320px;
    height: 60px;
    // padding: 10px;
    position: fixed;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.1), 0 2px 15px 0 rgba(0,0,0,.05);
    overflow: hidden;
    background: #fff;
    animation: shown 0.5s;
    &::before{
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 55px;
        background: #fff;
        z-index: 10;

    }
    .content{
        width: 100%;
        height: 100%;
        padding: 10px;
        z-index: 11;
        position: relative;
        display: flex;
        gap: 7px;
        align-items: center;
        color: #1d2d44;
        font-size: 15px;
        .toast-icon{
            width: 25px;
        }
    }
    .progress{
        position: absolute;
        height: 5px;
        left: 0;
        bottom: 0;
        background: transparent;
        animation: progressBarAnimation linear 2s;
    }
}
@keyframes progressBarAnimation {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
@keyframes shown{
    from{
        visibility: hidden;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}