$icons-size:22px;
.burgerNav{
    width: 100%;
    padding: 20px 40px;
    // background: #fff;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 50;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .content{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
    }
    .search{
        width: 100%;
        display: flex;
        align-items: center;
        // z-index: 3;

        img{
            width: $icons-size;
            height: $icons-size;
        }
    }
    .nav{
        margin-top: 20px;
        .navItem{
            text-align: center;
            height: 40px;
            line-height: 40px;
            color: #1D2D44;
            font-size: 18px;
        }
    }
    
}