$icons-size:22px;
.burgerNav{
    display: none;
}
@media only screen and (max-width: 768px){
    .burgerNav{
        width: 100%;
        display: block;
        padding: 20px 40px;
        position: fixed;
        top: -600px;
        left: 0;
        transition: all 0.6s ease;
        &.active{
            top: 60px;
        }
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            // background: #13315c;
            background: #3e5c86;
            position: absolute;
            top: 0;
            left: 0;
        }
        .content{
            width: 100%;
            height: 100%;
            position: relative;
        }
        .search{
            width: 100%;
            display: flex;
            align-items: center;
    
            img{
                width: $icons-size;
                height: $icons-size;
            }
        }
        .nav{
            margin-top: 20px;
            li{
                text-align: center;
                height: 40px;
                font-weight: 400;
                line-height: 40px;
                color: #fff;
                font-size: 18px;
            }
            .navItem{
                font-weight: 400;
                line-height: 40px;
                color: #fff;
                font-size: 18px;
            }
        }
        
    }
}

