@import "../../styles/variables";

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .list-item {
    display: flex;
    gap: 8px;
    .list-item__image {
      height: 100px;
    }
    &__info {
      display: flex;
      flex-direction: column;

      .list-item__name {
        font-weight: 500;
        font-size: 14px;
        padding-bottom: 3px;
        text-wrap: balance;
      }
      p {
        font-size: 14px;
        color: rgba($color: $clr-text, $alpha: 0.7);
        font-weight: 500;
      }
    }
  }
}
