@import '../../../styles/variables';
.pagination{
    display: flex;
    gap:5px;
    justify-content: center;
    height: 40px;
    .pagination__item{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: min($fs-400,15px);
        font-weight: 500;
        justify-content: center;
        border: 1px solid rgba($clr-accent,0.2);
        cursor: pointer;
        border-radius: 5px;
        color: $clr-text;
        background: $clr-secondary;
        &.active{
            background: $clr-accent;
            color: #fff;
        }
        &:hover{
            background: $clr-accent;
            color: #fff;
        }
    }
}