.accordion{
    width: 100%;
    .accordion-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        // border: 1px solid #b0b0b0;
    }
    .accordion-body{
        width: 100%;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
        &.active{
            visibility: visible;
            opacity: 1;
            max-height: fit-content;
            transition: all 0.5s;
        }
    }
}