.addressForm{
    width: 100%;
    display:flex;
    gap:10px;
    .address{
        flex: 0 1 70%;
    }
    .apartment{
        flex: 0 1 30%;
    }
}
@media screen and (max-width:424px) {
    .addressForm{
        flex-wrap: wrap;
        .address,.apartment{
            flex: 0 1 100%;
        }
    }
}