.size-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    .item{
        width: 45px;
        height: 45px;
        border: 1px solid #1d2d44;
        font-size: 15px;
        display: flex;
        align-items:center;
        justify-content: center;
        cursor:pointer;
        transition: all 0.4s;
        &:hover{
            background: #3e5c76;
            color: #fff;
        }
    }
}