@use '../../styles/mixins';
@import '../../styles/variables';

.subscribe{
    @include mixins.wrapper-desktop;
    .content{
        @include mixins.content;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .title{
            text-align: center;
            h2{
                font-size: $fs-800;
                font-weight: 500;
                color: $clr-accent;
                font-family: $ff-accent;
                margin-bottom: 10px;
            }
            .sub-title{
                font-size: $fs-400;
            }
        }
        .emailForm{
            width: 100%;
            display: flex;
            align-items: flex-end;
            gap:5px;
        }
        .singUpButton{ 
            flex: 1 0 auto;
            width: 160px;
            height: 45px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .subscribe{
        @include mixins.wrapper-tablet;
    }
    
}
@media only screen and (max-width: 425px) {
    .subscribe{
        @include mixins.wrapper-mobile;
        .content{
            .singUpButton{
                width: 140px;
                height: 40px;
            }
        }
    }
}