@import '../../styles/variables';

.location{
    width: 100%;
    .advertisement{
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        color: rgba($color: $clr-text, $alpha: 0.7);
        font-size: $fs-300;
        font-weight: 500;
    }
    .popular-locations{
        width: 100%;
        display: grid;
        margin: 15px 0;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        row-gap: 10px;
        &__item{
            cursor: pointer;
            font-size: $fs-400;
            color: $clr-text;
            width: fit-content;
            padding-bottom: 3px;
            &.active{
                border-bottom: 3px solid $clr-primary;
            }
            &:hover{
                color: $clr-primary;
            }
        }
    }
    .location-search{
        margin-top: 25px;
        margin-bottom: 15px;
        &__title{
            color: rgba($color: $clr-text, $alpha: 0.7);
            font-size: $fs-300;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
    .apply-location{
        display: flex;
        justify-content: right;
    }
    .location-caption{
        margin-top: 15px;
        color: rgba($color: $clr-text, $alpha: 0.7);
        font-size: $fs-300;
        font-weight: 500;
        border-top: 1px solid #b0b0b0;
        padding-top: 10px;
    }
}