.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    .arrow{
        opacity: 0;
        visibility: hidden;
        background: none;
        width: 30px;
        transition: all 0.3s ease;
        cursor: pointer;
        &.left{
            translate: -10px;
            img{
                rotate: 180deg;
            }
        } 
        &.right{
            translate: 10px;
        }
    }
    &:hover{
        .arrow{
            translate: 0;
            opacity: 1;
            visibility: visible;
        }
    }
    .wrapper{
        overflow: hidden;
    }
    .carousel{
        display: flex;
        transition: translate 0.3s ease;
    }
}