.carousel{
    width: 100%;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
        background: #3e5c86;
        right: 0;
        z-index: -1;
        
    }
    .content{
        max-width: 1200px;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto 30px;
        grid-template-areas:
        "slide"
        "dots";
        
        .item{
            grid-area: slide;
            display: flex;
            opacity: 0;
            visibility: hidden;
            &.active{
                opacity: 1;
                visibility: visible;
                transition: all 1s;
            }
            .title{
                max-width: 600px;
                flex: 0 1 100%;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: center;
                container-type:inline-size;
                &__season{
                    font-size: clamp(10px,3cqi,14px);
                    font-weight: 600;
                    padding-left: 30px;
                    position: relative;
                    color: #383838;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 2px;
                        background: #2f2f2f;
                        left: 0;
                        top: 50%;
                    }
                }
                &__head{
                    font-weight: 800;
                    -webkit-text-stroke: 3px #1d2d44;
                    line-height: 100%;
                    color:transparent;
                    word-break: break-word;
                    max-height: 270px;
                    font-size: min(16cqi,90px);
                }
                &__description{
                    font-size: min(4cqi,16px);
                    color: #2f2f2f;
                    font-weight: 500;
                    margin-top: 20px;
                }
                .discover{
                    width: 180px;
                    height: 60px;
                    text-transform: uppercase;
                    background: #3e5c86;
                    font-size: clamp(10px,3cqi,14px);
                    margin-top: 20px;
                    letter-spacing: 0.5px;
                    a{
                        color: #fff;
                    }
                }
            }
            .image{
                flex: 0 1 100%;
                max-width: 600px;
                display: flex;
                align-items: center;
                justify-content: right;
                padding-left: 100px;
                .scelet{
                    max-width: 380px;
                    img{
                        width: 100%;
                         transform: scaleX(-1) rotate(2deg);
                     }
                }   
                
            }
        }
       
        .dots{
            grid-area: dots;
            display: flex;
            align-items: center;
            gap: 7px;
            .dot{
                width: 30px;
                height: 30px;
                border: 2px solid transparent;
                border-radius:50%;
                position: relative;
                transition: all 0.5s;
                &::before{
                    content:'';
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: #898989;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                cursor: pointer;
                &.active,&:hover{
                    border: 2px solid #1d2d44;
                    transition: all 0.5s;
                    &::before{
                        background: #1d2d44;
                    }
                }
            }
            
        }
    }
   
}

@media screen and (max-width:1360px) {
    .carousel{
        padding: 0 80px;
    }
}
@media screen and (max-width:1140px) {
    .carousel .content .item .title .discover{
        width: 160px;
        height: 45px;
    }
}
@media screen and (max-width:768px) {
    .carousel{
        padding: 0 40px;
        .content{
            grid-template-rows: auto 20px;
            .item .title{
                &__season{
                    padding-left: 23px;
                    &::before{
                        height: 1px;
                        width:20px;
                        transform: translateY(-50%);
                    }
                }
                
                &__head{
                    -webkit-text-stroke: 2px #1d2d44;
                }
                .discover{
                    width: 140px;
                    height: 35px;
                }
            }
            .dots{
                .dot{
                    width: 20px;
                    height: 20px;
                    &::before{
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        } 
        
    }
}
@media screen and (max-width:425px) {
    .carousel{
        background-image: url('../../../images/carousel-background.svg');
        background-size: 130%;
        &::before{
            display: none;
        }
        .content{
            .item{
                .title{
                    padding: 25px 0;//подумати за падінг
                    &__season{
                        color: rgba($color: #fff, $alpha: 0.9);
                        &::before{
                            background: rgba($color: #fff, $alpha: 0.9);
                        }
                    }
                    &__head{
                    font-size: min(15cqi,90px);
                    -webkit-text-stroke-color:#fff;

                    }
                    &__description{
                        margin-top: 15px;
                        color: #fff;
                    }
                }
                .image{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    .carousel{
        padding: 0 20px;
    }
}