.item{
    background-color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color:#1d2d44;
    transition: all 0.4s;
    display: grid;
    row-gap: 5px;
    justify-items: center;
    cursor: pointer;
    &:hover{
        img{
            transform: scale(1.05);
        }
    }
    img{
        width: 100%;
        transition: all 0.4s;

    }
    .info{
        margin:10px 0;
        justify-self: center;
    }
    .brand{
        font-size: 15px;
        font-weight: 600;
    }
    .price{
        display: flex;
        gap:10px;
        .price__discount{
            color: #a40000;
        }
        .price__diabled{
            color: #2f2f2f;
            text-decoration: line-through;
        }
    }
}
@media screen and (min-width:1360px) {
    .item{
        width: 220px;
        font-size: 16px;
    }
}
