.shoes{
    width: 100%;
    padding:50px 80px;
    .content{
        width: 100%;
        display: grid;
        grid-template-columns: 180px 1fr; 
        grid-template-rows: 100px 1fr; 
        gap: 0px 20px; 
        grid-template-areas: 
          "title title"
          "filters shoes"; 
        .title{
            grid-area: title;
            h2{
                text-transform: capitalize;
                font-weight: 600;
                color: #1d2d44;
            }
           
        }
    }
}

@media screen and (min-width:1360px) {
    .shoes{
        .content{
            width: 1200px;
            margin:0 auto;
        }
    }
}