.shoes{
    width: 100%;
    padding:50px 80px;
    .content{
        max-width: 1200px;
        margin:0 auto;
        display: grid;
        grid-template-columns: 180px 1fr; 
        grid-template-rows: auto 1fr; 
        gap:30px 40px; 
        grid-template-areas: 
          "title title"
          "filters shoes"; 
        .title{
            grid-area: title;
            h2{
                text-transform: capitalize;
                font-weight: 600;
                color: #141414;
                font-size: 30px;
            
            }
        }
        .filters{
            grid-area: filters;
        }
        .list{
            grid-area: shoes;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .shoes{
                flex: 1 1 auto;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width:1023px) {
    .shoes{
        .content{
            grid-template-columns: 1fr; 
            grid-template-rows: auto auto 1fr; 
            row-gap: 20px;
            grid-template-areas: 
              "title"
              "filters"
              "shoes"; 
            .title{
                grid-area: title;
                h2{
                    text-transform: capitalize;
                    font-weight: 600;
                    color: #1d2d44;
                }
               
            }
        }
    }
}