.about{
    width: 100%;

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // height: 500px;
        width: 1200px;
        margin-inline: auto;
        padding: 50px 0;
        .toast{
            display: flex;
            flex-direction:column;
            gap: 10px;
            outline: 1px solid #000;
            padding: 20px;
            .toast__item{
                width: 200px;
                height: 50px;
                display: flex;
                align-items: center;
                gap: 15px;
                box-shadow: 0 1px 10px 0 rgba(0,0,0,.1), 0 2px 15px 0 rgba(0,0,0,.05);
                padding: 10px;
                border-radius:5px;
                cursor: default;
                position: relative;
                .progress{
                    position:absolute;
                    height: 3px;
                    left: 0;
                    bottom: 0;
                    // background:#fff;
                    z-index: 2;
                    animation: progressBarAnimation linear 2s;
                    &.success{
                        background: green;
                    }
                    &.warning{
                        background: #FFBF00;
                    }
                    &.error{
                        background: #CF000F;
                    }
                }
            }
        }

        .productCarousel{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .products{
                display: flex;
                align-items: center;
                gap: 10px;
                &__item{
                    width: 200px;
                    min-height: 280px;
                    flex: 1 0 auto;
                    padding: 10px;
                    border-radius: 10px;
                    background: #fff;
                    // box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
                    img{
                        width: 100%;
                        transition: all 0.2s;
                    }
                    p{
                        text-align: center;
                    }
                    &:hover{
                        img{
                            transform: scale(1.05);
                            transition: all 0.2s;
                        }
                    }
                }
            }
                
        }
    }
}

@keyframes progressBarAnimation {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}