@use '../styles/mixins';
@import '../styles/variables';
.about{
    // width: 100%;
    // padding: 20px 80px;
    @include mixins.wrapper-desktop;
    .content{
        @include mixins.content;
        display: flex;
        justify-content: center;
        // height: 300px;
        .autocomplete{
            width: 400px;
            position: relative;
            height: 100%;
            border: 1px solid red;
            height: 45px;
            &-options{
                width: 100%;
                background: #fff;
                position: absolute;
                box-shadow:0 4px 8px rgba(221,221,221,.5);
                .options__item{
                    width: 100%;
                    padding: 10px;
                    font-size: $fs-300;
                    &:hover{
                        background: $clr-accent;
                        color:#fff;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .about{
        @include mixins.wrapper-tablet
    }
}
@media screen and (max-width:425px) {
    .about{
        @include mixins.wrapper-mobile
    }
}
