@use '../styles/mixins';
@import '../styles/variables';
.about{
    // width: 100%;
    // padding: 20px 80px;
    @include mixins.wrapper-desktop;
    .content{
        @include mixins.content;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // height: 300px;
        .list{
            display: grid;
            grid-template-columns: repeat(auto-fit,200px);
            gap: 10px;
            .card{
                width: 200px;
                img{
                    width: 100%;
                }
            }
        }
        
    }
}
.skeleton-card{
    width: 200px;
    .skeleton__img{
        aspect-ratio: 1/1;
        width: 100%;
        display: inline-block;
        border-radius: 3px;
        animation: skeleton 1s linear infinite alternate;
    }
    .skeleton__title{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        .brand,.name,.rate,.price{
            height: 15px;
            animation: skeleton 1s linear infinite alternate;
            border-radius: 3px;
        }
        .brand{
            width: 40%;
        }
        .name{
            width: 70%;
        }
        .rate{
            width: 50%;
        }
        .price{
            width: 40%;
        }
    }
}
@keyframes skeleton {
    from{
        background: #eeeeee;

    }
    to{
        background: #cfcfcf;
    }
}
@media screen and (max-width:768px) {
    .about{
        @include mixins.wrapper-tablet
    }
}
@media screen and (max-width:425px) {
    .about{
        @include mixins.wrapper-mobile
    }
}
