.parent{
    max-width:1200px;
    margin: 0 auto;
    border: 1px solid red;
    height: 500px;
    display: flex;
}
.block1, .block2{
    max-width: 600px;
    flex: 0 1 100%;
    border:1px solid #000;
}
.block2{
    background: #1d2d44;
}
.block1{
    container-type:inline-size;
}
.block1>p{
    font-size: min(18cqi,90px);
    font-weight: 800;
    -webkit-text-stroke: 3px #1d2d44;
    line-height: 100%;
    color:#fff;
}