@import "../../../styles/variables";

.accordion {
  width: 100%;
  border-bottom: 1px solid #b0b0b0;
  padding: 5px 0;
  &-header {
    width: 100%;
    padding-inline: 5px;
    .title {
      min-height: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
      .content {
        width: 100%;
        cursor: pointer;
      }
    }
  }
  &-body {
    width: 100%;
    padding-inline: 5px;
    &::-webkit-scrollbar {
      width: 6px;
      margin-right: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #fff;
    }
    &::-webkit-scrollbar-thumb {
      background: $clr-accent;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $clr-primary;
    }
  }
}
