.accordion{
    border-bottom: 1px solid #3e5c765c;
    color: #fff;
    padding: 8px 0;
    position: relative;

    .title{
        min-height: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 0 5px;
        position: relative;
        .title-text{
            font-weight: 600;
            font-size: 15px;
            flex: 1 1 auto;
            line-height: 40px;
        }
        .clear-btn{
            font-size: 13px;
            font-weight: 600;
            text-decoration: underline;
            flex: 1 1 auto;
            text-align: right;
            margin-right: 10px;
            display: none;
            z-index: 3;
            &.active{
                display: block;
            }
        }
        .search-field{
            width: 100%;
            display: none;
            align-items: center;
            margin-bottom: 10px;
            .clear-field,img{
                width: 20px;
                height: 20px;
                flex: 1 0 20px;
            }
            .clear-field{
                font-size: 25px;
                line-height: 15px;
                text-align: center;
            }
            &.active{
                display: flex;
            }
        }
    }
    .content{
        width: 100%;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        padding: 0 5px;
        overflow:hidden auto;
        &::-webkit-scrollbar {
            width: 6px;
            margin-right: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #b5b5b5;
        }
        &::-webkit-scrollbar-thumb {
            background: #354862;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #0d1321;
        }
        &.showed{
            max-height:400px;
            animation: showAnimation 0.4s;
            opacity: 1;
            visibility: visible;
        }
    }
}


@keyframes showAnimation {
    from{
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (max-width:1024px) {
    .accordion{
        .content{
            &::-webkit-scrollbar-track {
                background: #7493BF;
            }
            &::-webkit-scrollbar-thumb {
                background: #304768;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #0d1321;
            }
        }
    }
}
