@use '../../styles/mixins';
@import '../../styles/variables';

.checkout{
    width: 100%;
    padding:40px 80px 60px 80px;
    @include mixins.wrapper-desktop;
    .content{
        @include mixins.content;
        display:grid;
        grid-template-columns:1fr 350px;
        grid-template-rows: 50px auto;
        align-items: start;
        grid-template-areas:
        "title title"
        "orderForm orderSummary";
        column-gap:60px;
        row-gap: 10px;
        .title{
            grid-area:title;
            text-align:center;
            @include mixins.page-title;
        }
        .section-title{
            margin-bottom: 10px;
            color:$clr-primary;
            font-weight: 500;
        }
        .order-form{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .cart{
            width: 100%;
            padding: 15px;
            border:1px solid #ddd;
            box-shadow:0 4px 8px rgba(221,221,221,.5);
            border-radius:5px;
            .cart__title{
                padding-bottom: 15px;
            }
            .order-total{
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin: 10px 0;
                font-size: 15px;
                color: #474747;
                &__item{
                    display: flex;
                    justify-content: space-between;
                    .price{
                        color: #2f2f2f;
                        font-weight: 500;
                    }
                    .shipping__details{
                        width: 130px;
                        text-align: right;
                        color: #2f2f2f;
                        font-weight: 500;
                    }
                }
            }
            .productList{
                margin: 15px 0;
                &__edit{
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    gap: 5px;
                    font-size: 15px;
                    font-weight: 500;
                    color: #292929;
                    margin-bottom: 10px;
                    img{
                        width: 15px;
                    }
                }
            }
        }
        .option-wrapper{
            padding: 10px 0;
        }
    }
}
@media screen and (max-width:1024px) {
    .checkout .content{
        grid-template-columns:1fr 300px;
        column-gap:40px;
    }
}