@use '../../styles/mixins';
@import '../../styles/variables';

$logo-font:'Bebas Neue', cursive;
$icons-size:22px;

.header-wrapper{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    .header-top{
        height: 40px;
        background:$clr-secondary;
        @include mixins.wrapper-desktop;
        padding-top: 0;
        padding-bottom: 0;
        .content{
            height: 100%;
            @include mixins.content;
            display: flex;
            align-items: center;
            justify-content: right;
            .nav{
                display: flex;
                gap: 10px;
                &__item{
                    font-size: $fs-300;
                    line-height: 40px;
                    color:$clr-text;
                    cursor: pointer;
                    a{ 
                        color:$clr-text;
                        display: flex;
                        align-items: center;
                        .user-icon{
                            margin-left: 5px;
                            vertical-align: baseline;
                            width: $icons-size;
                            height: $icons-size;
                        }
                    }
                    &.line{
                        cursor: default;
                    }
                }
            }
        }
        .help-menu{
            padding:10px;
            width: 180px;
            line-height:100%;
            .title{
                font-size: 24px;
                font-weight: 600;
                font-family: $ff-accent;
                line-height:100%;
                margin-bottom: 15px;
                color: $clr-accent;
            }
            .menu{
                display: flex;
                flex-direction: column;
                gap: 12px;
                li{
                    p,a{
                        font-size: 15px;
                        font-weight: 600;
                        color:#9f9f9f;
                        transition: all 0.3s;
                        &:hover{
                            color:$clr-text;
                        }
                    }
                }
            }
        }
        
    }
    .header-bottom{
        height: 60px;
        background: #fff;
        box-shadow:0 4px 8px rgba(221, 221, 221, 0.5);
        @include mixins.wrapper-desktop;
        padding-top: 0;
        padding-bottom: 0;
        .content{
            @include mixins.content;
            display: grid;
            // grid-template-columns: auto 2fr auto 1fr 11.5rem 0.2fr auto 0fr;
            grid-template-columns: auto 2fr auto 1fr auto 0.2fr auto 0fr;
            grid-template-areas: 'logo . nav . search . button-bar cancel';
            align-items: center;
            transition: grid-template-columns 0.4s ease-in;
            &.search{
                // grid-template-columns: auto 1fr 0fr 0fr 30rem 1fr 0fr 60px;
                grid-template-columns: auto 1fr auto 0fr auto 1fr 0fr 60px;
                // transition: grid-template-columns 0.5s ease-in;
                
                .nav{
                    opacity: 0;
                    width: 0;
                    transition: width 0.2s 0.3s
                                opacity 0.2s;
                }
                .search{
                    width: 30rem;
                    // transition: width 0.4s ease-in 0.6s;
                }
                .button-nav{
                    opacity: 0;
                }
                .cancel_btn{
                    opacity: 1;
                }
            }
            .logo{
                grid-area: logo;
                h1{
                    font-size: 35px;
                    line-height: 60px;
                    font-family: $ff-accent;
                    font-weight: 600;
                    color: $clr-primary;
                }
            }
            .nav{
                width: fit-content;
                grid-area: nav;
                display: flex;
                align-items: center;
                gap: 25px;
                opacity: 1;
                overflow: hidden;
                transition: opacity 0.2s ease-out 0.2s;

                &__item{
                    cursor: pointer;
                    a{
                        font-size: 15px;
                        color: $clr-text;
                    }
                    
                }
            }
            .search{
                grid-area: search;
                // max-width: 11.5rem;
                width: 11.5rem;
                height: 40px;
                background: $clr-secondary;
                border-radius: 100px;
                display: flex;
                align-items: center;
                transition: width 0.3s ease-in 0.5s;

                &__btn{
                    width: 40px;
                    height: 40px;
                    flex: 1 0 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $clr-secondary;
                    img{
                        width: 26px;
                        height: 26px;
                    }
                    cursor: pointer;
                    &:hover{
                        background: #e5e5e5;
                    }
                }
                &__field{
                    width: 100%;
                    height: 40px;
                    padding: 8px 5px;
                    background: transparent;
                    font-size: 14px;
                    color: $clr-text;
                    &::placeholder{
                        font-size: 14px;
                    }
                }
            }
            .button-nav{
                grid-area: button-bar;
                display: flex;
                align-items: center;
                gap: 15px;
                opacity: 1;
                overflow: hidden;
                transition: opacity 0.2s ease-in-out;
                .bag{
                    position: relative;
                    .cart-quantity{
                        position: absolute;
                        background: $clr-primary;
                        top:-8px;
                        right: -8px;
                        font-size: 12px;
                        color: #fff;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        line-height: 12px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 1px;
                    }
                }
                img{
                    width: $icons-size;
                    height: $icons-size;
                }
                
                
            }
            .cancel_btn{
                grid-area: cancel;
                cursor: pointer;
                color: $clr-text;
                font-weight: 600;
                font-size: 16px;
                background: none;
                opacity: 0;
                overflow: hidden;
                transition: opacity 0.2s ease-in-out;
            }
        }
        
    }
}
@media screen and (width < 1000px) {
    .header-wrapper .header-top{
        display: none;
    }
    .header-wrapper .header-bottom .content {
        grid-template-columns: auto 2fr auto 1fr 2.5rem 0.03fr auto 0fr;

        .nav{
            display: none;
        } 
        &.search{
            .search .search__btn{
                    background-color: $clr-secondary;
            }
        }
        .search .search__btn{
            background-color: #fff;
        }
        .button-nav {
            .favorites{
                display: none;
            }
        }
        
    }
     
}
@media screen and (max-width:768px) {
    .header-wrapper .header-bottom{
        padding-inline:40px;
        .content .logo{
            h1{
             font-size: 30px;
            }
         }
    }
     
}

@media screen and (max-width:425px) {
    .header-wrapper .header-bottom{
        padding-inline: 20px;
    }
}
