$standart-btn:30px;
$min-btn:25px;
$standart-image:120px;
$min-image:100px;

.cart-item{
    width: 100%;
    display: grid;
    grid-template-columns: $standart-image minmax(200px,1.8fr) 0.8fr 1fr 1fr 1fr 25px;
    grid-template-areas: "image name size color quantity total remove";
    grid-template-rows: 120px;
    align-items: center;
    border-bottom: 1px solid #3e5c7866;
    color: #1d2d44;
    .product-image{
        width: 100%;
        grid-area: image;
        align-self: self-start;
    }
    .product-name{
        grid-area: name;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 26px;
        margin:10px 20px 10px 15px;
    }
    .product-size{
        grid-area: size;
    }
    .product-color{
        grid-area: color;
        padding-right: 15px;
        hyphens:auto;
    }
    .product-quantity{
        grid-area: quantity;
        width: 100%;
        display: flex;
        align-items: center;
        .btn{
            width: $standart-btn;
            height: $standart-btn;
            font-size: 20px;
            font-weight: 600;
            color: #1d2d44;
            border: 1px solid #1d2d44;
            background: none;
            cursor: pointer;
        }
        .quantity{
            width: 50px;
            text-align: center;
            line-height: $standart-btn;
        }
    }
    .product-total{
        grid-area: total;
        font-weight: 600;
    }
    .parameter{
        display: none;
        font-size: 15px;
        margin-right: 5px;
    }
    .details{
        font-size: 15px;
    }
    .remove-product{
        width: $min-btn;
        height: $min-btn;
        background: none;
        cursor: pointer;
        grid-area: remove;
    }
}
@media screen and (max-width:1180px) {
    .cart-item{
        grid-template-columns: $min-image minmax(200px,1.8fr) 0.8fr 1fr 1fr 1fr 25px;

        .details{
            font-size: 14px;
        }
        .product-quantity{
            .btn{
                width: $min-btn;
                height: $min-btn;
                font-size: 18px;
            }
            .quantity{
                line-height: $min-btn;
            }
        }
    }
}
@media screen and (max-width:920px) {
    .cart-item{
        grid-template-columns: $standart-image 0.5fr 1.2fr 1fr 25px;
        grid-template-rows: minmax(45px,1fr) 35px 40px;
            grid-template-areas: 
            "image name name name remove"
            "image total total total ."
            "image size color quantity quantity";
        .product-name{
            margin-left: 10px;
            font-size: 1rem;
        }
        .product-total{
            padding-left: 10px;
        }
        .remove-product{
            align-self: self-start;
            margin-top: 10px;
        }
        .parameter{
            display: inline-block;
        }
        .product-size{
            padding-left: 10px;
        }
        .product-color{
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}
@media screen and (max-width:620px) {
    .cart-item{
        grid-template-columns: $min-image 1fr 25px;
        grid-template-rows: minmax(45px,1fr) 35px 30px 30px 30px 10px;
        grid-template-areas: 
            "image name remove"
            "image total ."
            "image size ."
            "image color ."
            "image quantity ."
            ". . .";
    }
   
    .product-quantity{
        padding-left: 10px;
    }
    .product-size,.product-color,.product-quantity{
        align-self: self-start;
    }
}
@media screen and (max-width:424px) {
    .cart-item{
        grid-template-rows: minmax(45px,1fr) 35px 30px 30px 10px;
        grid-template-areas:
        "image name remove"
        "image total ."
        "color color color"
        "size quantity ."
        ". . .";
    }
    .details{
        font-size: 13px !important;
    }
   
    .product-total, .parameter{
        font-size: 14px !important;
    }
    .product-name{
        font-size: 0.9rem !important;
    }
}