@import '../../../styles/variables';

.input{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-size: $fs-400;
    color: $clr-primary;
    background: transparent;
    &.error{
        &.underline{
            border-bottom: 1px solid $clr-primary;
        }
        &.full-border{
            border: 1px solid #CF000F;
            &:focus{
                border: 1px solid #CF000F;
            }
        }
    }
    &.underline{
        border-bottom: 1px solid $clr-primary;
    }
    &.full-border{
        border-radius: 7px;
        border: 1px solid #b0b0b0;
        &:focus{
            border: 1px solid #757575;
        }
    }
}