@import '../../styles/variables';
.burger-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    z-index: 100;
    background:rgba(18, 18, 18, 0.36);
    .burger-menu{
        position: absolute;
        bottom: 0;
        top:0;
        width: 320px;
        background: #fff;
        overflow-y: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        .close-btn{
            background: none;
            position: relative;
            width: 22px;
            padding: 8px 0;
            display: block;
            margin-right: 0;
            margin-left: auto;
            &::after,&::before{
                content: '';
                width: 100%;
                height: 2px;
                background: $clr-primary;
                position: absolute;
                left: 0;
            }
            &::before{
                transform: rotate(45deg);
                top: 7px;
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 7px;
            }
        }
        .nav{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            &__item{
                transition: all 0.2s;
                &:hover{
                    padding-left: 2px;
                    transition: all 0.2s;
                }
                a{
                    font-size: 22px;
                    font-weight: 500;
                    color: $clr-primary;
                }
            }
        }
        .user{
            margin: 40px 0;
            font-size: 20px;
            color:#707072;
            font-weight: 500;
            line-height: 26px;
            .button-nav{
                display: flex;
                gap:10px;
                margin-top: 10px;
                &__item{
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
        .additional-nav{
            margin-top: auto;
            display: flex;
            flex-direction: column;
            gap: 15px;
            img{
                width: 22px;
            }
            &__item{
                display: flex;
                align-items: center;
                gap: 15px;
                color: #1D2D44;
                font-weight: 500;
                font-size: 16px;
                .bag-quantity{
                    width: 22px;
                    height: 22px;
                    background: #1D2D44;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
           
        }
    }
}