.wrapper{
    width: fit-content;
    // min-width: 320px;
    // display: grid;
    // grid-template-columns:30px auto 30px;
    // grid-template-rows: auto 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    .arrow{
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: none;
        &:first-child{
            img{
                transform: rotate(180deg);
            }
        }
        &.disabled{
            pointer-events: none;
        }
    }
    .carousel{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 15px;
        &__item{
            img{
                width: 100%;
                transition: all 0.2s;
            }
            p{
                text-align: center;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                    transition: all 0.2s;
                }
            }
        }
    }
}
// @media screen and (max-width:768px) {
// .wrapper{
//     gap:15px;
//     .carousel{
//         &__item{
//             width: 180px;
//         }
//     }
// }
// }