$content-width:1200px;
$dark-color:#1D2D44;

.wrapper{
    width: 100%;
    // height: 400px;
    // display: flex;
    align-items: center;
    // justify-content: center;
    display: grid;
    grid-template-columns:30px auto 30px;
    grid-template-rows: auto 30px;
    gap: 20px;
    .arrow{
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: none;
        &:first-child{
            img{
                transform: rotate(180deg);
            }
        }
        &.disabled{
            pointer-events: none;
        }
    }
    .carousel{
        justify-self: center;
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;
        overflow: hidden;
        // padding: 5px;
        &__item{
            width: 200px;
            min-height: 305px;
            flex: 1 0 auto;
            img{
                width: 100%;
                transition: all 0.2s;
            }
            p{
                text-align: center;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                    transition: all 0.2s;
                }
            }
        }
    }
}