$content-width:1200px;
$logo-font:'Bebas Neue', cursive;
$icons-size:22px;
.header{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 10px 80px;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 10;
    }
    .content{
        max-width: $content-width;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 13;
        .logo{
            h1{
                font-size: 45px;
                font-family: $logo-font;
                color: #1D2D44;
            }
        }
        .nav{
            height: 100%;
            display: grid;
            grid-template-rows: 50% 50%;
            align-items: center;
            .topNav,.bottomNav{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: right;
                .list{
                    display: flex;
                    gap:30px;
                    color: #1D2D44;
                    li{
                        cursor: pointer;
                    }
                }
            }
            .topNav{
                img{
                    width: $icons-size;
                    height: $icons-size;
                }
                .topItem{
                    display: flex;
                    align-items: center;
                   
                }
            }
            .bottomNav a{
                color: #1D2D44
            }
        }
    }
}

@media only screen and (min-width: 1360px) {
    .header{
        padding: 10px 0;
        .content{
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header{
        height: 60px;
        padding: 0 40px;
        .logo{
            h1{
                font-size: 30px !important;
            }
        }
        .nav{
            grid-template-rows: 100% !important;
            .bottomNav{
                display: none !important;
            }
            .topItem:first-child{
                display: none !important;
            }
        }
    }
    
}
@media only screen and (max-width: 375px) {
    .header{
        padding: 0 20px;
    }
}