@import '../../styles/variables';
.total{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 0;
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #b0b0b0;
    font-size: min($fs-400,15px);
    color: $clr-text;
    &__item{
        display: flex;
        justify-content: space-between;
        .price{
            color: $clr-text;
            font-weight: 500;
        }
        .shipping__details{
            width: 130px;
            text-align: right;
            color: $clr-text;
            font-weight: 500;
        }
    }
}