.filters{
    width: 100%;
    .filters-options{
        // width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .filters-navigation{
        display: none;
    }
    
}
@media screen and (max-width:1023px) {
    .filters{
        // width: 100%;
        position: relative;
        .filters-navigation{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .filters-navigation__opener{
                background: none;
                height: 40px; 
                border:none;
                display: flex;
                gap:5px;
                align-items: center;
                font-size: 15px;
                font-weight: 500;
                color: #1d2d44;
                letter-spacing: 0.5px;
                img{
                    width: 25px;
                }
            }
            .select{
                width: 200px;
            }
        }
        .filters-options{
            position: absolute;
            background: #3e5c76;
            z-index: 2;
            // background: #fff;
            padding: 40px 80px;
            // display: none;
            left: -80px;
            right: -80px;
            margin-top: 20px;
            // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            .select{
                display: none !important;
            }
        }
    }
}