.filters{
    width: 100%;
    &-nav{
        display: none;
    }
    &-options{
        .button-bar{
            display: none;
        } 
    }
    
}
@media screen and (max-width:1024px) {
    .filters{
        &-nav{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__opener{
                background: none;
                height: 30px; 
                border:none;
                display: flex;
                gap:5px;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 600;
                color: #2f2f2f;
                outline: 1.5px solid #CACACB;
                border-radius: 20px;
                width: 100px;
                margin-left: auto;
                margin-right:0;
                img{
                    width: 20px;
                }
            }
            .select{
                width: 200px;
            }
        }
        &-wrapper{
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 20;
            background: rgba($color: #000000, $alpha: 0.5);
        }
        &-options{
            position: fixed;
            background: #fff;
            z-index: 100;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 25px 80px 40px 80px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            .close-btn{
                background: none;
                height: 24px;
                width: 24px;
                margin: 10px 0 10px auto;
                cursor: pointer;
                img{
                    width: 100%;
                }
            }
            .button-bar{
                display: flex;
                margin-top: 40px;
                align-items: center;
                gap:10px;
                &__clear,&__view{
                    width: 50%;
                    height:50px;
                    background: none;
                    border-radius:30px;
                    border: 1px solid rgb(229, 229, 229);
                    font-size: 16px;
                    cursor:pointer;
                }
                &__view{
                   color:#fff;
                   background: #3e5c86;
                   border: none;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .filters{
        &-options{
            padding: 15px 40px 30px 40px;
        }
    }
}
@media screen and (max-width:425px) {
    .filters{
        &-options{
            .button-bar{
                &__clear,&__view{
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:375px) {
    .filters{
        &-options{
            padding: 10px 20px 25px 20px;
            .button-bar{
                &__clear,&__view{
                    font-size: 14px;
                }
            }
        }
    }
}