.products{
    padding:40px 80px;
    .content{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 180px 1fr; 
    grid-template-rows: auto 20px auto 10px 1fr; 
    gap: 0 20px; 
    grid-template-areas: 
    "title title"
    ". ."
    "numberOf numberOf"
    ". ."
    "filters list"; 
    
    .title{
        grid-area: title;
        font-size: 34px;
        font-weight: 500;
        color: #1d2d44;
        text-transform: capitalize;
    }
    .nuberOfProducts{
        grid-area:numberOf;
        font-size: 15px;
        color: #2f2f2f;
    }
    .filters{
        grid-area: filters;
    }
    .list{
        grid-area: list;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
}
@media screen and (max-width:1024px) {
    .products{
        .content{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto 1fr;
            align-items: center;
            gap: 0 0;
            grid-template-areas: 
            "title title"
            "numberOf filters"
            "list list";
        }
    }
    
}
@media screen and (max-width:768px) {
    .products{
        padding: 40px;
    }
}
@media screen and (max-width:375px) {
    .products{
        padding: 30px 20px;
        .content{
            .title{
                font-size: 28px;
            }
        }
        
    }
}