@use '../../styles/mixins';
@import '../../styles/variables';
.sign-up{
    width: 100%;
    @include mixins.wrapper-desktop;
    .content{
        max-width:450px;
        margin-inline:auto;
        .form{
            display: flex;
            flex-direction:column;
            gap: 20px;
            .title{
                text-align: center;
                font-family:$ff-accent;
                font-size: $fs-700;
                font-weight: 500;
                color: $clr-primary;
            }
            .name-section{
                display: flex;
                gap: 10px;
            }
        }
        .message{
            margin-top:40px;
            text-align: center;
            font-size: 14px;
            a{
                color:#1d2d44;
                font-weight: 500;
                font-size: 14px;
            }
        }

    }
}
@media screen and (max-width:768px) {
    .sign-up{
        @include mixins.wrapper-tablet
    }
}
@media screen and (max-width:425px) {
    .sign-up{
        @include mixins.wrapper-mobile
    }
}