@import "../../../styles/variables";

.clear {
  width: 100%;
  margin-top: 10px;
  text-decoration: underline;
  text-align: left;
  font-size: $fs-300;
  color: $clr-primary;
  font-weight: 500;
  background: none;
  cursor: pointer;
}
