@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
li{
  list-style-type: none;
}
a,a:visited,a:hover{
  text-decoration: none;
}
input{
  border: none;
  outline: none;
}
body{
  width: 100%;
  overflow-x: visible;
}
.App .content{
  max-width: 1200px;
  margin: 90px auto 0 auto;
  font-size: 20px;
  line-height: 30px;
}